<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Signin</title>
</head>
<body class="bg-dark text-light">

  <%- include('./partials/nav') %>

  <div class="container mt-4">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h2 class="card-title mb-4">Sign In</h2>
        <form action="/user/signin" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot Password</a>
      </div>
    </div>
  </div>

  <!-- Forgot Password Modal -->
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordModalLabel" style="color: rgb(0, 0, 0);">Forgot Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="color: rgb(0, 0, 0);">Please enter your email address to reset your password:</p>
          <form action="http://localhost:5000/password-reset/" method="post">
            <div class="mb-3">
              <label for="emailInput" class="form-label" style="color: rgb(0, 0, 0);">Email address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="emailInput"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
